torch==2.2.0
pettingzoo==1.24.3
networkx==3.2.1
numpy==1.26.4
gymnasium==0.29.1
fast_tsp==0.1.4
ortools==9.14.6206
PyYAML==6.0.1
typeguard==4.1.5
scikit-learn==1.5.2
positional-encodings==6.0.3
torch-geometric==2.6.1
tensorboard==2.16.2
tqdm==4.66.4
rich==13.7.1
ortools==9.14.6206